.search-event{
    width: 550px;
    height: 30px;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 30%;
    padding-left: 20px;
    margin-top: 25px;
}

a {
    display: flex;
    margin-left: 1270px;
    color: #FF8C00;
    font-weight: bold;
    font-size: 20px;
  }

a span {
    margin-right: 16px;
    display: flex;


    width: 20px;
    height: 20px;
  }